 .square-space {
    display: flex;
    justify-content: space-evenly
}

.square {
    height: 200px;
    width: 450px;
    background-color: rgb(5, 1, 1);
    border-color: 2px rgb(5, 1, 1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.script {
    color: white;
}

.secondary-script{
    display: flex;
    justify-content: center;
    color: grey;
    font-size: larger;
}

.card-text{
    width: 300px;
}

.card-imagine{
    width: 200px;
}